<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dev">
	<insert id="insertDemo" parameterType="dev" >
		insert into dev values(seq_dev_no.nextval, #{devName}, #{devAge}, #{devEmail}, #{devGender}, 
			<foreach collection="devLang" item="l" open="'" separator="," close="'">
				${l}
			</foreach>
		)
		<!-- #{ } 은 ''을 자동으로 붙여서 리터럴 값으로 만든다. -->
	</insert>
</mapper>
