<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p %l - %m%n" />
		</layout>
		<!-- simplelayout방식 -->
<!-- 		<layout class="org.apache.log4j.SimpleLayout"/> -->
		<!-- htmllayout방식 -->
<!-- 		<layout class="org.apache.log4j.HTMLLayout"/> -->
		<!-- xmllayout방식 -->
		<!-- <layout class="org.apache.log4j.xml.XMLLayout"/> -->
	</appender>
	<appender class="org.apache.log4j.DailyRollingFileAppender" name="fileLogger" ><!-- log파일을 생성시킴 -->
      <param name="file" value="C://Users//user2//log//spring.log"/>
      <param name="Append" value="true"/><!-- 로그가 찍을 때마다 계속 추가할 것이란 뜻 -->
      <param name="dataPattern" value=".yyyy-MM-dd"/><!-- 파일형식이 날짜찍히게 만든것 -->
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p %l - %m%n" />
      </layout>
   	</appender>
   	
   	<!-- DB로그를 출력하기 위한 appender등록 -->
   	<appender name="sqlLogger" class="org.apache.log4j.ConsoleAppender">
   		<layout class="org.apache.log4j.PatternLayout">
   			<param name = "ConversionPattern" value="%-5p: %m%n"/>
   		</layout>
   	</appender>
   	<!-- 실행하는 sql문을 출력하는 logger -->
   	<logger name="jdbc.sqlonly" additivity="false">
   		<level value="info"/>
   		<appender-ref ref="sqlLogger"/>
   	</logger>
   	<!-- 실형결과의 테이블을 를 출력하는 logger -->
   	<logger name = "jdbc.resultsettable" additivity="false"> <!-- additivity="false"속성은 위에 다른 root에도 영향을 미칠것인지 유무 -->
   		<level value="info"/>								 <!-- false는 해당하는 곳에서만 logger를 실행한다는 뜻이다. -->
   		<appender-ref ref="sqlLogger"/>
   	</logger>
   	
	<!-- Application Loggers -->
	<logger name="com.kh.spring">
		<level value="debug" />
		<!-- <appender-ref ref="" 이런식으로 별도로 appender등록이 가능하다.-->
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="fileLogger" />
	</root>
	
</log4j:configuration>
